* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background: #edeeed;
}

.drops {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop {
    position: absolute;
    height: 150px;
    width: 150px;
    background: transparent;
    border-radius: 58% 42% 31% 69% / 44% 52% 48% 56%;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05),
        15px 25px 10px rgba(0, 0, 0, 0.1),
        15px 20px 20px rgba(0, 0, 0, 0.05),
        inset -10px -10px 15px rgba(255, 255, 255, 0.9);
}

.drop::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 35px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 42% 58% 32% 68% / 39% 37% 63% 61%;
}

.drop::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 65px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 60% 40% 40% 60% / 39% 37% 63% 61%;
}

.drop:nth-child(2) {
    transform: scale(0.5) translate(-200px, 180px);
    border-radius: 60% 40% 51% 49% / 39% 37% 63% 61%;
}

.drop:nth-child(3) {
    transform: scale(0.5) translate(280px, 10px);
    border-radius: 47% 53% 51% 49% / 40% 37% 63% 60%;
}

.drop:nth-child(4) {
    transform: scale(0.35) translate(120px, -350px);
    border-radius: 35% 65% 65% 35% / 64% 45% 55% 36%;
}